:root {
    --main-text-color: #e3e3e3;
    --muted-text-color: #2a346d;

    --link-text-color: #e3e3e3;

    --shadow-color: black;

    --elevated-bg-color: rgba(18, 18, 23, 0.5);
    --main-bg-color: rgb(18, 18, 23);
    font-size: 2em;
    
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem 0rem 10rem 0rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    70% {
        opacity: 0;
    }

    to {
        opacity: 0;
        transform: translateY(70vh) scale(1);
    }
}

@keyframes shrink-title {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.2);
    }
}

@keyframes shrink-subtitle {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.01);
    }
}

p,
h1,
h2,
h3,
nav {
    position: relative;
    z-index: 2;

    animation: ease-in fade-in;
    animation-timeline: view();
    animation-range: 0 40%;
}

.pretty {
    font-family: "Pacifico", sans-serif;
    font-weight: lighter;
}

.muted {
    color: var(--muted-text-color)
}

#intro-title {

    z-index: -2;

    font-family:Arial, Helvetica, sans-serif;

    font-weight: 900;
    font-size: 15rem;
    color: rgb(50, 255, 255);

    position: relative;

    line-height: 0.2;

    animation: ease-in-out shrink-title both;
    animation-timeline: view();
    animation-range: 60% 150%;
}

#intro-subtitle {

    z-index: -1;

    font-weight: lighter;
    font-style: italic;
    font-size: 5rem;

    position: relative;

    font-family: "Pacifico", sans-serif;

    animation: none;

    animation: ease-in-out shrink-subtitle both;
    animation-timeline: view();
    animation-range: 60% 150%;
}

#intro {
    margin: 10rem 0rem 6rem 0rem;
}

.fading-out {
    animation: linear fade-out both;
    animation-timeline: view();
    animation-range: 60% 150%;
}

.elevated {
    position: relative;
    z-index: 2;


    background-color: var(--elevated-bg-color);

    /* box-shadow: 0em 0em 2em var(--shadow-color); */

    border-radius: 2rem;
    /* border: thin solid var(--muted-text-color); */

    padding: 0.05rem 1rem;
    margin: 5% 15%;

    backdrop-filter: blur(25px);
}

#intro-title,
#intro-subtitle,
.centered,
.navigation {
    text-align: center;
    align-items: center;
}

.text-button {

    color: var(--main-text-color);
    font-style: italic;
    text-decoration: none;

    padding: 0em 0.7em;

    border-radius: 1em;
    border: thin solid var(--muted-text-color);
    text-wrap: nowrap;

}

.mail-link {
    color: var(--link-text-color);
    /* background-color: var(--muted-text-color); */

    border-radius: 1rem;

    border: thin solid var(--muted-text-color);
    font-style: italic;

    text-decoration: none;

    padding: 0 0.5rem;
}